body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea#detail.ant-input {
  height: 290px
}

div.ant-upload-list.ant-upload-list-picture-card {
  height: 300px;
}

span.ant-upload-picture-card-wrapper.courseImg div.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  height: 290px;
  width: 518.98px;
}

span.ant-upload-picture-card-wrapper.courseImg div.ant-upload-list.ant-upload-list-picture-card div.ant-upload-list-picture-card-container {
  height: 290px;
  width: 518.98px;
}


div.ant-select.ant-select-in-form-item.day.ant-select-single.ant-select-show-arrow div.ant-select-selector {
  width: 100%;
  height: 40px;
  padding: 0 11px;
} 

div.ant-select.ant-select-in-form-item.day.ant-select-single.ant-select-show-arrow div.ant-select-selector span.ant-select-selection-item {
  top: 11%;
} 

div.ant-select.ant-select-in-form-item.day.ant-select-single.ant-select-show-arrow div.ant-select-selector span.ant-select-selection-placeholder {
  height: 40px;
  margin-top: 2%;
}

span.ant-upload-picture-card-wrapper.uploadImg {
  height: 120px;
}